<h2 class="page-header">Recently Added Books</h2>
<div>
    <% books.forEach(book=> { %>
        <a href="/books/<%= book.id %>">
            <img height="150" title="<%= book.title %>" src=" <%=book.coverImagePath %>">
        </a>
        <% }) %>
</div>