<h2>
    <%= author.name %>
</h2>
<a href="/authors/<%= author.id %>/edit">Edit</a>
<% if(books.length>0){ %>
    <h2>Books By Author </h2>
    <% books.forEach(book=> { %>
        <a href="/books/<%= book.id %>">
            <img height="150" src="<%= book.coverImagePath %>" <% }) %>
        </a>
        <% } %>